---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {% assign author = page.author | default: site.author %}
      {%- if author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    <!--
    {% include navlinks.html %}
    -->

    <hr />
  </div>
  
  {% comment %}
    <div>[
    {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <a href="/blog/tag/{{ tag_name }}" class="{{ tag_name }}"><nobr>{{ tag_name }}</nobr>&nbsp;</a>
    {% endfor %}
    ]</div>
  {% endcomment %}
  
  <div class="share-links">
    {% include sharelinks.html %}
  </div> 

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
